<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
		        	<li><a href="/Projects">Projects</a></li>
		        	<a href="https://www.dropbox.com/s/4eve89z1jb34m0e/Resume%20.pdf?dl=0" target="_blank">Download Resume</a>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:contact@brianawashington.com">Contact@brianawashington.com</a></li>
	        		<li><a href="https://github.com/bwashington517">github.com/bwashington517</a></li>
				</ul>
			</footer>
		</body>
